.score {
    position: absolute;
    z-index: 2;
    background-color: #06d176;
    font-size: 0.7em;
    color: #fff;
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 10px;
    top: 10px;
    left: 10px;
}

.title-text {
    color: #FFFFFF;
    font-size: 1em;
}

.title-date {
    color: #9ebac6;
    font-size: 1em;
}